/* ---------------
  Spinner
  ------------------*/
.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border-top: 2px solid #28a745;
  border-right: 2px solid transparent;
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/* ---------------
Item Card
------------------*/

.item-card {
  display: grid;
  grid-template-columns: 2fr 5fr;
}

/* ---------------
Navbar
------------------*/
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #28a745 !important;
}

/* ---------------
Sidebar
------------------*/

#sidebar .card {
  margin: 1em 0;
}

/* ---------------
  Summary
  ------------------*/

.totalMaterialsGrid {
  display: grid;
  grid-gap: 1em;
}

/* ---------------
  Items
  ------------------*/

.items-group {
  display: grid;
  grid-gap: 1em;
  margin: 20px 0 40px;
}

/* ---------------------------------
MEDIA QUERIES
------------------------------------*/

@media only screen and (max-width: 991px) {
  #sidebar .card {
    max-width: 400px;
    margin: 1em auto;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* ---------------
  Summary
  ------------------*/

  .totalMaterialsGrid {
    grid-template-columns: 1fr 1fr;
  }

  /* ---------------
  Items
  ------------------*/

  .items-group {
    grid-template-columns: 1fr 1fr;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* ---------------
  Items
  ------------------*/

  .items-group {
    grid-template-columns: repeat(3, 1fr);
  }
}
